/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.radio-group{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 12px;
}

.result {
    font-weight: bold;
    margin-top: 10px;
}


:root {
  --bg-color: black;
  --text-color: white;
  --header-bg: black;
  --header-text: white;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    transition: background-color 0.5s ease, color 0.5s ease;
}

header {
  background-color: var(--header-bg);
  color: var(--header-text);
  padding: 20px;
  text-align: center;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.light-theme {
  --bg-color: white;
  --text-color: black;
  --header-bg: white;
  --header-text: black;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}
