{% extends "layout.html" %}

{% block title %}
    Irene von Ah
{% endblock %}

{% block main %}
    <h2 class="centered">Professional Profile</h2>
    <div>
        <h4>I am a multicultural polyglot 🎓Electronics Engineer</h4>
        <p>with experience in petroleum, electrical, construction, and finance.</p>
        <p>In 2002 I earned an 🥇Excellence Award by University Simon Bolivar Venezuela</p>
        <p>because of my internship development at ABB Solution Responsible Unit.</p>
        <p>My dynamic simulator greatly reduced FAT and Burn-In testing time for MPP control systems.</p>
    </div>
    <div>
        <p>I achieve theoretical, practical and technological medical knowledge,</p>
        <p>in Biomedical engineering at Universidad Simon Bolivar USB Venezuela,</p>
        <p>and in medical therapies at Dickerhof AG Switzerland.</p>
    </div>
    <div>
        <h5>My experience in a word: SCADA</h5>
        <h5>Supervisory Control and Data Acquisition.</h5>
        <ul class="list-unstyled text-center">
            <li>HMI: Human Machine Interfaces</li>
            <li>FAT: Factory Acceptance Test</li>
            <li>Configuration of remote control devices</li>
            <li>Alarm Systems</li>
            <li>Building Automation</li>
            <li>System: Design, Concept Review, Configuration</li>
        </ul>
    </div>
    <h5> Programming Skills:</h5>
    <ul class="list-unstyled text-center">
        <li>Assembler, C, Matlab</li>
        <li>ABB: ControlBuilderF and DigiVis</li>
        <li>SAP, Python</li>
    </ul>
    <div>
        <h5>Me</h5>
        <p>I am a mother of two wonderful girls born in 2008 and 2010.</p>
        <p>In my free time I am someone who really enjoys learning, </p>
        <p>trekking, swimming, travelling, and exploring new places to dive into their culture.</p>
        <p>Originally I am from Venezuela and already since 20 years I am also from Switzerland.</p>
        <p>Being a Swiss latin woman allows me to understand clearly what it means to be part of two contrasting cultures.</p>
    </div>
    <div>
        <p><a href="https://www.linkedin.com/in/irene-von-ah-medina-vivas-b809a3126/">LinkedIn</a></p>
        <p><a href="https://profile.edx.org/u/IreneIsabel2022">edX</a></p>
        <p><a href="https://github.com/imv2025">GitHub</a></p>
    </div>
{% endblock %}
